<div style="width: 100%; padding-top: 120px; text-align: center;">
  <h1>Sorry, age limit exceeded!</h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <a href='/clinic?user_id=<%= session[:user_id] || params[:user_id] %>' style="font-size: 3em;">Back</a>
</div>
