<div style="width: 100%; padding-top: 120px; text-align: center;">
  <h1>Sorry, no user was specified!</h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <a href="javascript:back()" style="font-size: 3em;">Back</a>
</div>