
production:
  clinical.encounters.sequential.list: UNDER 5 VISIT,SUPPLEMENTATION,ASSESSMENT,FAMILY MEDICAL HISTORY,SURGICAL HISTORY,REASON FOR SPECIAL CARE,IMMUNIZATION RECORD,MEDICAL HISTORY,INITIAL NEW BORN RECORD
  scope: ASSESSMENT|,IMMUNIZATION RECORD|,REASON FOR SPECIAL CARE|,SUPPLEMENTATION|,MEDICAL HISTORY|,SURGICAL HISTORY|,FAMILY MEDICAL HISTORY|,INITIAL NEW BORN RECORD|,UNDER 5 VISIT|
  label: ASSESSMENT|Assessment,SUPPLEMENTATION|Supplementation

development:
  clinical.encounters.sequential.list: UNDER 5 VISIT,SUPPLEMENTATION,ASSESSMENT,FAMILY MEDICAL HISTORY,SURGICAL HISTORY,REASON FOR SPECIAL CARE,IMMUNIZATION RECORD,MEDICAL HISTORY,INITIAL NEW BORN RECORD
  scope: ASSESSMENT|,IMMUNIZATION RECORD|,REASON FOR SPECIAL CARE|,SUPPLEMENTATION|,MEDICAL HISTORY|,SURGICAL HISTORY|,FAMILY MEDICAL HISTORY|,INITIAL NEW BORN RECORD|,UNDER 5 VISIT|
  label: ASSESSMENT|Assessment,SUPPLEMENTATION|Supplementation

test: &TEST
  clinical.encounters.sequential.list: UNDER 5 VISIT,SUPPLEMENTATION,ASSESSMENT,FAMILY MEDICAL HISTORY,SURGICAL HISTORY,REASON FOR SPECIAL CARE,IMMUNIZATION RECORD,MEDICAL HISTORY,INITIAL NEW BORN RECORD
  scope: ASSESSMENT|,IMMUNIZATION RECORD|,REASON FOR SPECIAL CARE|,SUPPLEMENTATION|,MEDICAL HISTORY|,SURGICAL HISTORY|,FAMILY MEDICAL HISTORY|,INITIAL NEW BORN RECORD|,UNDER 5 VISIT|
  label: ASSESSMENT|Assessment,SUPPLEMENTATION|Supplementation

