
production:
  clinical.encounters.sequential.list: EID VISIT,MEDICAL HISTORY 2,SURGICAL HISTORY,MEDICAL HISTORY
  clinical.encounters.display.list: EID VISIT;MENU|MEDICAL HISTORY 2,SURGICAL HISTORY;MEDICAL HISTORY
  scope: SURGICAL HISTORY|TODAY,MEDICAL HISTORY|TODAY,MENU|TODAY,EID VISIT|,MEDICAL HISTORY 2|EXISTS
  label: MEDICAL HISTORY 2|Medical History 2,MENU|Menu

development:
  clinical.encounters.sequential.list: EID VISIT,MEDICAL HISTORY 2,SURGICAL HISTORY,MEDICAL HISTORY
  clinical.encounters.display.list: EID VISIT;MENU|MEDICAL HISTORY 2,SURGICAL HISTORY,EID VISIT,EID VISIT1,EID VISIT2,EID VISIT3,EID VISIT4,EID VISIT5,EID VISIT6,EID VISIT7,EID VISIT8,EID VISIT9,EID VISIT10,EID VISIT11,EID VISIT12,EID VISIT13,EID VISIT14,EID VISIT15,EID VISIT16,EID VISIT17,EID VISIT18,EID VISIT19,EID VISIT20;MEDICAL HISTORY
  scope: SURGICAL HISTORY|TODAY,MEDICAL HISTORY|TODAY,MENU|TODAY,EID VISIT|,MEDICAL HISTORY 2|EXISTS
  label: MEDICAL HISTORY 2|Medical History 2,MENU|Menu

test: &TEST
  clinical.encounters.sequential.list: EID VISIT,MEDICAL HISTORY 2,SURGICAL HISTORY,MEDICAL HISTORY
  clinical.encounters.display.list: EID VISIT;MENU|MEDICAL HISTORY 2,SURGICAL HISTORY;MEDICAL HISTORY
  scope: SURGICAL HISTORY|TODAY,MEDICAL HISTORY|TODAY,MENU|TODAY,EID VISIT|,MEDICAL HISTORY 2|EXISTS
  label: MEDICAL HISTORY 2|Medical History 2,MENU|Menu

